<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>My Simple HTML Page</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='library_db.css') }}">
	</head>
	<body>
		<div class="search-form">

			<form method="POST">
				
				<div class="title-search">
					<label for="title-search">Title</label>
					<input type="text" name="title-search" id="title-search" value="Any">
					<input type="radio" name="title-search-type" id="" value="full" checked>Full Title
					<input type="radio" name="title-search-type" id="" value="partial">Partial Title
				</div>

				<div class="author-search">
					<label for="author-search">Author</label>
					<input type="text" name="author-search" id="author-search" value="Any">
					<input type="radio" name="author-search-type" id="" value="full" checked>Full Author
					<input type="radio" name="author-search-type" id="" value="partial">Partial Author
				</div>			

				<div class="genre">
					<p>Genre:</p>
					<input type="checkbox" name="genre-selection" value="Science Fiction">Science Fiction
					<input type="checkbox" name="genre-selection" value="Self Help">Self Help
					<input type="checkbox" name="genre-selection" value="Arts and Crafts">Arts And Crafts
					<input type="checkbox" name="genre-selection" value="Fantasy">Fantasy
					<br>
					<input type="checkbox" name="genre-selection" value="History">History
					<input type="checkbox" name="genre-selection" value="Gardening">Gardening
					<input type="checkbox" name="genre-selection" value="Biology">Biology
					<input type="checkbox" name="genre-selection" value="Ethical Hacking">Ethical Hacking
					<br>
					<input type="checkbox" name="genre-selection" value="Romance">Romance
					<input type="checkbox" name="genre-selection" value="Fiction">Fiction
					<input type="checkbox" name="genre-selection" value="Cooking">Cooking
					<input type="checkbox" name="genre-selection" value="Computers">Computers
					<br>
					<input type="checkbox" name="genre-selection" value="Mystery">Mystery
					<input type="checkbox" name="genre-selection" value="Horror">Horror
					<input type="checkbox" name="genre-selection" value="Science">Science
					<input type="checkbox" name="genre-selection" value="Computer Security">Computer Security
				</div>

				<div class="pages">
					<p>Pages:</p>
					Min: <input type="text" name="min-pages" id="min-pages" value="0">
					Max: <input type="text" name="max-pages" id="max-pages" value="9999">
				</div>			

				<div class="output-columns">
					<p>Output Columns:</p>
					<input type="checkbox" name="output-columns" id="" value="Book_ID" checked>Book_ID
					<input type="checkbox" name="output-columns" id="" value="Title" checked>Title
					<input type="checkbox" name="output-columns" id="" value="Author" checked>Author
					<input type="checkbox" name="output-columns" id="" value="Genre" checked>Genre
					<input type="checkbox" name="output-columns" id="" value="Year_Published" checked>Year Published					
					<input type="checkbox" name="output-columns" id="" value="Pages" checked>Pages				
				</div>

				<button type="submit">submit</button>

			</form>

		</div>

		<div class="output-table">
			{% if table_data %}
			<table>
				<thead>
					<tr>
						{% for header_cell in table_data[0] %}
						<th>{{ header_cell }}</th>
						{% endfor %}
					</tr>
				</thead>
				<tbody>
					{% for row in table_data[1:] %} {# Start from the second item for data rows #}
					<tr>
						{% for cell in row %}
						<td>{{ cell }}</td>
						{% endfor %}
					</tr>
					{% endfor %}
				</tbody>
			</table>
			{% endif %}
		</div>

	</body>
</html>