<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Library DB</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='library_db.css') }}">
	</head>
	<body>
		<div class="search-form">

			<form method="POST">
				
				<div class="search">
					<table>
						<tbody>
							<tr>
								<td class="search-table"><label for="title-search">Title: </label></td>
								<td class="search-table"><input type="text" name="title-search" value="Any"></td>
								<td class="search-table"><input type="radio" name="title-search-type" value="full" checked>Full Title</td>
								<td class="search-table"><input type="radio" name="title-search-type" value="partial">Partial Title</td>
							</tr>
							<tr>
								<td class="search-table"><label for="author-search">Author: </label></td>
								<td class="search-table"><input type="text" name="author-search" value="Any"></td>
								<td class="search-table"><input type="radio" name="author-search-type" value="full" checked>Full Author</td>
								<td class="search-table"><input type="radio" name="author-search-type" value="partial">Partial Author</td>
							</tr>
						</tbody>
					</table>
				</div>			

				<div class="genre">
					<p>Genre:</p>
					<table>
						<tbody>
							<tr>
								<td class="genre-table"><input type="checkbox" name="genre-selection" value="Arts And Crafts">Arts And Crafts</td>
								<td class="genre-table"><input type="checkbox" name="genre-selection" value="Biology">Biology</td>
								<td class="genre-table"><input type="checkbox" name="genre-selection" value="Computer Security">Computer Security</td>
								<td class="genre-table"><input type="checkbox" name="genre-selection" value="Computers">Computers</td>
							</tr>
							<tr>
								<td class="genre-table"><input type="checkbox" name="genre-selection" value="Cooking">Cooking</td>
								<td class="genre-table"><input type="checkbox" name="genre-selection" value="Ethical Hacking">Ethical Hacking</td>
								<td class="genre-table"><input type="checkbox" name="genre-selection" value="Fantasy">Fantasy</td>
								<td class="genre-table"><input type="checkbox" name="genre-selection" value="Fiction">Fiction</td>
							</tr>
							<tr>	
								<td class="genre-table"><input type="checkbox" name="genre-selection" value="Gardening">Gardening</td>
								<td class="genre-table"><input type="checkbox" name="genre-selection" value="History">History</td>
								<td class="genre-table"><input type="checkbox" name="genre-selection" value="Horror">Horror</td>
								<td class="genre-table"><input type="checkbox" name="genre-selection" value="Mystery">Mystery</td>
							</tr>
							<tr>
								<td class="genre-table"><input type="checkbox" name="genre-selection" value="Romance">Romance</td>
								<td class="genre-table"><input type="checkbox" name="genre-selection" value="Science">Science</td>
								<td class="genre-table"><input type="checkbox" name="genre-selection" value="Science Fiction">Science Fiction</td>
								<td class="genre-table"><input type="checkbox" name="genre-selection" value="Self Help">Self Help</td>
							</tr>
						</tbody>	
					</table>
				</div>

				<div class="publication">
					<p>Year Published:</p>
					Min: <input type="text" name="min-publication" id="min-publication" value="0">
					Max: <input type="text" name="max-publication" id="max-publication" value="3000">
				</div>	

				<div class="pages">
					<p>Pages:</p>
					Min: <input type="text" name="min-pages" id="min-pages" value="0">
					Max: <input type="text" name="max-pages" id="max-pages" value="9999">
				</div>	
				
				<div class="sort-by">
					<p>Sort By</p>
					<input type="radio" name="sort-by-column" value="Book_ID" checked>Book_ID
					<input type="radio" name="sort-by-column" value="Title">Title
					<input type="radio" name="sort-by-column" value="Author">Author
					<input type="radio" name="sort-by-column" value="Genre">Genre
					<input type="radio" name="sort-by-column" value="Year_Published">Year Published
					<input type="radio" name="sort-by-column" value="Pages">Pages
				</div>	
				
				<div class="sort-by-type">
					<input type="radio" name="sort-by-type" value="ASC" checked>Ascending
					<input type="radio" name="sort-by-type" value="DESC">Descending
				</div>

				<div class="output-columns">
					<p>Output Columns:</p>
					<input type="checkbox" name="output-columns" value="Book_ID" checked>Book_ID
					<input type="checkbox" name="output-columns" value="Title" checked>Title
					<input type="checkbox" name="output-columns" value="Author" checked>Author
					<input type="checkbox" name="output-columns" value="Genre" checked>Genre
					<input type="checkbox" name="output-columns" value="Year_Published" checked>Year Published					
					<input type="checkbox" name="output-columns" value="Pages" checked>Pages				
				</div>

				<button type="submit">submit</button>

			</form>

		</div>

		<div class="output-table">
			{% if table_data %}
			<table>
				<thead>
					<tr>
						{% for header_cell in table_data[0] %}
						<th>{{ header_cell }}</th>
						{% endfor %}
					</tr>
				</thead>
				<tbody>
					{% for row in table_data[1:] %} {# Start from the second item for data rows #}
					<tr>
						{% for cell in row %}
						<td>{{ cell }}</td>
						{% endfor %}
					</tr>
					{% endfor %}
				</tbody>
			</table>
			{% endif %}
		</div>

	</body>
</html>