body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	background-image: url("bookshelf_tile3.png");
	background-repeat: repeat;
	background-attachment: fixed;
}

.heading {
	text-align: center;
}

.heading > h2 {
	margin: 0;
	margin-bottom: 2%;
}

.search-form {
	display: block;
	text-align: left;
	width: 520px;

	background-color: aquamarine;
	padding: 2%;

	margin: 1%;
}

.search-columns {
	display: grid;
	grid-template-rows: 1fr 1fr;
}

.search-row {
	display: grid;
	grid-template-columns: 1fr 3fr 2fr 2fr;
}
#title-search, #author-search {
	width: 200px;
}

.search-radio {
	font-size: 12px;
}

table {
	border-collapse: collapse;
}

td, th {
	border-style: solid;
	border-width: 1px;
	border-color: black;

	text-align: left;
}

td {
	background-color: rgb(200, 200, 255);
}

th {
	border-width: 2px;
	background-color: skyblue;
}

.genre-columns {
	display: grid;
	grid-template-rows: 1fr 1fr 1fr 1fr;
}

.genre-row {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

.genre-row > div {
	font-size: 12px;
}

.submit-button {
	text-align: center;
}

button {
	font-size: 16px;
	margin-top: 5%;
	cursor: pointer;

	border-style: solid;
	border-width: 1px;
	border-color: darkblue;
	border-radius: 2%;

	transition: font-weight 0.1s;
}

button:hover {
	font-weight: bold;
}

button:active {
	border-width: 2px;
}

.search-form, .output-table > table {
	border-style: solid;
	border-width: 2px;
	border-color: rgb(0, 0, 120);
}

.search-form {
	border-radius: 2%;	
}